# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf
*.pyc binary
*.pyd binary
*.pyo binary

# Logs and Reports
*.csv text
*.log text
*.txt text

# Assets
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
