# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt

# Virtual Environments
venv/
.venv/
env/
.env

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS specific
Thumbs.db
.DS_Store

# Project Specific Runtime Files
logs/*
!logs/.gitkeep

reports/*
!reports/.gitkeep

*.tmp
*.log
